/*
1. Posicionamiento
2. Modelo de Caja (Box Model)
3. Tipografía
4.Visuales
5.Otros
*/
:root {
    /* Colores */
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 67%;
    font-family: 'DM Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none!important; 
}
a {
    text-decoration: none!important;
    text-decoration-style: none!important;
}


/* Codigo Detallado del Proyecto */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    /* Animacion de Background */
    background: linear-gradient(-163deg, #201e1c 21%, #f7931a 100%);
    background-size: 163% 163%;
    animation: bgAnimateBitcoin 5s ease infinite;
    -webkit-animation: bgAnimateBitcoin 5s ease infinite;
    -moz-animation: bgAnimateBitcoin 5s ease infinite; 
}
@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%}
}

header img {
    width: 197px;
    height: auto;
    align-self: center;
    margin-top: 43px;
}
.header--title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 27px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    top: 270px;
    margin-top: 35px;
    padding: 15px;
    width: 243px;
    height: 48px;
    background-color: var(--just-white);
    /* Sombra */
    box-shadow:  0 4px 9px rgba(48, 37, 11, 0.21);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    /* Icon de Background */
    background-image: url('../assets/icons/down-arrow.svg');
}


main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img {
    width: 210px;
    height: 210px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* Imagen de Background */
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.63rem;
    color: #757575;
}
/********************************************************/
.main-currency-table {
    width: 77%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:  var(--bitcoin-orange);
}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table  {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    /* Sombra */
    box-shadow:  0 4px 12px rgba(48, 37, 11, 0.047);
}
.currency-table--container .table__top-left {
    border-top-left-radius: 15px;
}
.currency-table--container .table__top-right {
    border-top-right-radius: 15px;
}
.currency-table--container .table__bottom-left {
    border-bottom-left-radius: 15px;
}
.currency-table--container .table__bottom-right {
    border-bottom-right-radius: 15px;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #635c5c;
}
.currency-table--container .down {
    display: inline-block;
    position:absolute;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    /* Icon de Background */
    background-image: url('./icons/trending-down.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table---date p {
    width: 90%;
    height: auto;
    margin:  0 auto;
    margin-top: 15px;
    padding: 9px 7px;
    font-size: 13px;
    background-color: var(--soft-orange);
    color: var(--warm-black);
    border-radius: 9px;
}